@charset "UTF-8";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-gray: #2c323d;
}

body {
  display: flex;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 10px auto;
}

.wrap {
  display: flex;
  padding: 10px;
  max-width: 900px;
  min-height: 100%;
  box-shadow: -1px 1px 10px 1px #c381b3;
}
@media (max-width: 680px) {
  .wrap {
    display: flex;
    flex-direction: column;
  }
}

.left {
  width: 25%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  height: auto;
  background-color: var(--color-gray);
  padding: 30px 20px;
  color: var(--color-white);
  text-align: center;
}
.left h1 {
  font-family: Poppins;
  font-size: larger;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  line-height: 50px;
  text-decoration: 2px underline;
  -webkit-text-decoration: 2px underline;
  margin-top: 1em;
}
.left h4 {
  font-family: Poppins;
  font-size: small;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  margin-top: 1.3em;
}
.left p,
.left ul {
  font-family: Poppins;
  font-size: small;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  margin-top: 1.3em;
}
.left .contacts p {
  margin: 0px;
}
@media (max-width: 680px) {
  .left {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
    height: 150px;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
  }
  .left .education,
.left .language,
.left h1,
.left .phone,
.left .email {
    display: none;
  }
  .left .image-box {
    margin: 0px;
  }
  .left .image {
    border: none;
  }
}

.image-box {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #2c323d;
  border-radius: 50%;
  overflow: hidden;
}

.image {
  position: absolute;
  inset: 5px;
  border: 5px solid rgb(72, 34, 78);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*.image {
  max-width: 10em;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 5px #c381b3;
}
*/
.tg a {
  text-decoration: none;
  color: var(--color-white);
  transition-duration: 1.2s;
}

.tg a:hover {
  color: #dba6ce;
  text-shadow: 1px 1px 1px #c8c7c7;
}

.right {
  flex: 1;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  height: auto;
  background-color: var(--color-white);
  color: var(--color-gray);
  font-weight: 600;
  padding: 40px 50px;
  text-align: left;
}
.right h1 {
  font-family: Poppins;
  font-size: larger;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  line-height: 50px;
  text-decoration: 2px underline;
  -webkit-text-decoration: 2px underline;
  margin-top: 1em;
}
.right h4 {
  font-family: Poppins;
  font-size: small;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  margin-top: 1.3em;
}
.right p,
.right ul {
  font-family: Poppins;
  font-size: small;
  font-weight: 500px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 3px;
  margin-top: 1.3em;
}

.info {
  font-size: 30px;
}

.info h1 {
  text-decoration: none;
}

.expirience {
  overflow: auto;
}

.ex-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 30px 10px;
  margin-left: -30px;
}

.other {
  display: flex;
  gap: 50px;
}

ul {
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */
