@charset "UTF-8";
:root {
  --color-white: #ffffff;
  --color-gray: #2c323d;
}
@mixin font() {
  h1 {
    font-family: Poppins;

    /*font-size: calc(0.8rem + 1.5vw);*/
    font-size: larger;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3px;
    line-height: 50px;

    text-decoration: 2px underline;
  }

  h4 {
    font-family: Poppins;
    font-size: small;
    /*font-size: calc(0.7rem + 1vw);*/
    font-weight: 500px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3px;
  }

  p {
    font-family: Poppins;
    font-size: small;
    /*font-size: calc(0.5rem + 0.8vw);*/
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 3px;
  }
}

body {
  display: flex;
  margin: 10 auto;
  justify-content: center;
  width: auto;
}
.wrap {
  display: flex;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  min-width: min-content;
  height: auto;
  box-shadow: -1px 1px 10px 1px #c381b3;
}

.left {
  overflow: hidden;
  width: 25%;
  min-width: min-content;
  height: auto;
  background-color: var(--color-gray);
  padding: 50px 20px;
  @include font();
  color: var(--color-white);
  text-align: center;
}

.contacts p {
  margin-top: -15px;
}
.image {
  max-width: 10em;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 5px #c381b3;
}

.tg a {
  text-decoration: none;
  color: var(--color-white);
}
.tg a:hover {
  color: #dba6ce;
  text-shadow: 1px 1px 0 #6e6d6c;
  transition-duration: 1.2s;
}

/*.contacts {
    @include font();
  }

    .education{
      @include font();
    }
   .language{
     @include font();
}*/
/*table{
  margin: 10px auto; */

.table {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.lang p {
  margin: 10px auto;
}

.rus span {
  padding: 3px;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -5px;
  color: rgb(112, 112, 112);
}
.rus > span:before {
  content: "•";
}
.rus > span.active {
  color: rgb(255, 255, 255);
}

.eng span {
  padding: 3px;
  font-size: 35px;
  line-height: 1;
  letter-spacing: -5px;
  color: rgb(112, 112, 112);
}
.eng > span:before {
  content: "•";
}
.eng > span.active {
  color: rgb(255, 255, 255);
}

/*@media (min-width: 767px) {
  p {
    font-size: 15px;
  }
  }
  @media (max-width: 480px) {
    p {
      font-size: 10px;
    }
    }*/

.right {
  flex: 1;
  @include font();
  min-width: min-content;
  height: auto;
  background-color: var(--color-white);
  padding: 40px 50px;
  text-align: left;
}

.info {
  font-size: 30px;
  overflow: hidden;
}

.info h1 {
  text-decoration: none;
}
.profile h4 {
  padding: 10px;
}

.ex-table {
  width: 80%;
}

td {
  padding: 10px;
  border-bottom: #2c323d;
}

/*.content {
  max-width:823px;
  margin: 0px auto;
  
}

.orange {
  font-size: 20px;
  color: orange;
}

span.orange {
  font-family: cursive;
  font-size: 5rem;
}

$font-stack:  Arial ;
.arial {
  font:  $font-stack;
  font-size: 150px;
  font-style: italic;
  font-weight: 700;
  color: rgb(80, 80, 195);
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 10px #900d85;
  letter-spacing: 5px;
}

.arial:hover {
  color: #dac5d9;
}

.content h1, h2, h3, h4, h5 {
  font-style: oblique;
  text-shadow: #ec5b5b 10px 10px 11px;
  font-stretch: expanded;
}

.link  {
  text-align: center;
  font-size: 5rem;
}

.link a{
  text-decoration: none;
}

.link a:hover {
  color: aqua;
  text-shadow: 1px 1px 0 #3b3a38;
  transition-duration: 1.5s;
}

.image {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 15px #6b6a6a;
}

/*.image:hover{
	box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
	cursor: pointer;


}

@counter-style custom-type {
  system: cyclic;
  symbols: "👍";
  suffix: " ";
}
ul {
  list-style: custom-type;
  /*or list-style-type: custom-type;} */
